* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 body{
    background-color: #F89B9B;

 }

.mission-statement{
    text-align: center;}
 
 .field-exchange{
  border-color: aqua;
  border-style:solid;
  margin-right: 700px;
  height:200px;
 } 
 .our-work{
  border-color: aqua;
  border-style:solid;
  margin-right: 700px;
  height:200px;
  padding-top: 30px;

 }  

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 15px;
}
header{
    background-color:coral;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 0 20px; /* Adjust the margin as needed for horizontal spacing */
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
 footer{
  justify-content: center;

     
} 

.social{
    position:fixed;
    bottom:0;
    width:100%;
    background-color:coral;
    justify-content:space-evenly;
    display:flex;
  
}
.fa {  
    padding: 20px;  
    justify-content: center;
    text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 150px;  
  }  
  
  .affiliated-partners {

    background-color: blueviolet;
  }